body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#9ad3de;
}

.navbar-default{
  background-color:#9ad3de8;
  border-color:#e7e7e7;
}

.navbar-default{
  background-color:#9ad3de;
  border-color:#e7e7e7;
}

